@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #000000;
}

.page-header {
  width: 1160px;
  height: 300px;
  margin: 40px auto 0 auto;
  color: #000000;
  background-color: #FFE17F;
}

.page-header-catalog {
  width: 1160px;
  height: 186px;
  margin: 40px auto 0 auto;
  color: #000000;
  background-color: #FFE17F;
}

.device-logo {
  position: relative ;
  left: 60px;
  top: -20px;
}

.navigation-container {
  width: 1040px;
  margin: 0 auto;
}

.search {
  display: inline-block;
  width: 517px;
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 22px;
}

.search-button {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.navigation {
  display: inline-block;
  width: 496px;
}

.navigation-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation-list-catalog {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation-item {
  display: inline-block;
}

.navigation-item-exit {
  margin-right: auto;
}

.navigation-item-compare {
  margin-right: 30px;
}

.navigation-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.exit {
  opacity: 0.3;
}

.menu {
  width: 1040px;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  padding: 0;
}

.menu-item {
  display: inline-block;
}

.menu-item-catalog {
  margin-right: auto;
}

.menu-item-delivery,
.menu-item-garanty {
  margin-right: 57px;
}

.menu-item-link {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #FFE17F;
}

.menu-title {
  font-weight: 800;
  font-size: 18px;
}

.submenu-list {
  display: flex;
}

.slider {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.description-product {
  display: flex;
}

.slider-content {
  display: flex;
flex-direction: column;
}

.number-product {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #FFE17F;
}

.advantages-description-title {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.advantages-description {
  color: #444444;
  background-color: #FFFFFF;
}

.detail-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.detail-definition {
  font-size: 36px;
  line-height: 30px;
}

.detail-term {
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.product {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-product {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.list-product-item {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.list-product-item-link {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.list-product-item-img {
  background-color: #FFE17F;
}

.list-product-item-caption {
  width: 160px;
}

.services {
  width: 1440px;
  height: 391px;
  margin: 0 auto;
  display: flex;
  background-color: #F0F0F0;
}

.services-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 420px;
}

.button-services {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

button.button-services-current {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFE17F;
  background-color: #000000;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-content {
  color: #444444;
}

.services-content-delivery {
  background-image: url("../images/deliveryman.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.services-content-guarantee {
  background-image: url("../images/guarantee.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.services-content-credit {
  background-image: url("../images/credit.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.delivery-link-container {
  display: flex;
  align-items: center;
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  background-color: #F0F0F0;
  color: #000000;
}

.delivery-link {
  margin: 0 auto;
  background-color: #F0F0F0;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
about-us {
  width: 520px;
}

.contacts {
  width: 532px;
}

.about-us-contacts-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1160px;
  height: 545px;
}

.about-us-contacts-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-us-content {
  color: #444444;
  background-color: #FFFFFF;
  width: 497px;
}

.delivery-company-item {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.more-about-us {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.contacts-address {
  color: #444444;
  font-style: normal;
}

.contacts-phone {
  color:#444444;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.contacts-address-tel-time {
  color: #444444;
  background-color: #FFFFFF;
}


.newsletter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #F0F0F0;
  color:#000000;
  width: 1440px;
  height: 421px;
}

.newsletter-block {
  display: flex;
}

.newsletter-title {
  width: 348px;
  height: 100px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  background-color: inherit;
}

.newsletter-title-content {
  width: 560px;
  height: 90px;
  color: #444444;
  background-color: inherit;
}

.subscribe {
  display: flex;
}

.field {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #F0F0F0;
}

.newsletter-button-caption {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F0F0F0;
  text-transform: uppercase;
}

.newsletter-free {
  color: #444444;
  background-color: #F0F0F0;
}

.page-footer {
  width: 1440px;
  height: 321px;
  margin: 0 auto ;
  background-color: #444444;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.device-logo-footer {
  margin-top: 62px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1159px;
}

.footer-content-address {
  width: 239px;
}

.services-page-footer {
  display: flex;
}

.services-page-footer-item-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color:#FFFFFF;
}

.services-page-footer-item-link {
  text-decoration: none;
}

.contacts-phone-footer{
  color: #FFFFFF;
}

.inner-header {
  width: 1160px;
  margin: 0 auto;
}

.inner-header-container {
  margin-left: 60px;
}

.inner-header-title {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-top: 35px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 429px;
  padding: 0;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.main-inner {
  width: 1440px;
  margin: 0 auto;
  background-color: #F0F0F0;
  color: #000000;
}

.filter-block {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background-color: inherit;
  color: inherit;
}

.filter-title {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.control {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button-control {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.sort-header {
  background-color: #F0F0F0;
  color: #000000;
}

.filter-title {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.select-control {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #F0F0F0;
  color: #000000;
}

.product-pagination {
  background-color: #FFFFFF;
  color: #000000;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-card-price {
  color: #444444;
  background-color: #FFFFFF;
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button-pagination-show-more {
  width: 760px;
  height: 55px;
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  background-color: inherit;
}

.pagination-block {
  display: flex;
  width: 760px;
  height: 70px;
  margin: 0 auto;
  background-color: #EBEBEB;
  color: #444444;
}


.pagination-list {
  width: 100%;
  display: flex;
  margin: 20px;
  padding: 0;
}

.pagination-item {
  display: inline-block;
  margin: 0 12px;
}

.pagination-item-prev {
  margin-right: auto;
}

.pagination-item-next {
  margin-left: auto;
}

.pagination-link {
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: inherit;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-link-current {
  opacity: 0.6;
}

a.pagination-link-prev {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #EBEBEB;
  text-transform: uppercase;
  opacity: 1;
}

a.pagination-link-next {
  font-family: "Raleway",sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #EBEBEB;
  text-transform: uppercase;
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
